include LICENSE README.rst bootstrap-buildout.py buildout.cfg develop.cfg requirements.txt version.txt
recursive-include doc conf.py *.rst
recursive-include bob/learn/em *.cpp *.h
recursive-include bob/learn/em/data *.*
